@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Manrope", sans-serif;
  color: var(--color-dark--1);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 80%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
  resize: none;
}

input:focus {
  outline: none;
  background-color: #fff;
}

button {
  width: 10em;
  height: 2.5em;
}

a {
  color: var(--color-brand--1);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: justify-center;
  gap: 15px;
  text-align: center;
  background-color: #1f2937;
  color: var(--color-brand--1);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  grid-column: span 4;
}

/* NavBar */

.logo {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 50px;
}

.logo img {
  width: 10rem;
  aspect-ratio: 1 / 1;
}

.headerNav {
  margin-left: auto;
  font-size: 1.5rem;
}

header h1 {
  font-size: 60px;
}

ul {
  font-size: 18px;
  margin: auto;
  padding-top: 8px;
  color: var(--color-dark--2);
  list-style: none;
}

td {
  padding: 5px;
}

.side-bar li:hover {
  color: var(--color-brand--1);
  font-weight: bold;
  font-size: 20px;
  transition: all 500ms;
  cursor: pointer;
}

.side-bar {
  float: left;
  width: 20%;
  padding: 15px;
}

.dynamic {
  float: left;
  padding: 20px;
  width: 80%;
}

.link {
  size: 15px;
  padding: 5px;
}

.headerNav button {
  width: 52px;
  size: 15px;
  border: none;
  text-decoration: underline;
  background-color: #1f2937;
  color: var(--color-brand--1);
}

/* Admin  */

.AdminContainer {
  margin: 20px;
}

.AdminContentContainer li {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-column-gap: 10px;
  list-style: none;
}

.AdminContentContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  padding: 2rem;
}

.AdminContentContainer h1 {
  margin: 20px;
}

.Keywords {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
}

.keyword {
  display: inline-flex;
  flex-direction: row;
  border-radius: 6px;
  margin: 20px;
  padding: 8px;
  font-size: 15px;
  background-color: #549fff;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  opacity: 95%;
}

.loginPage {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}

.loginPage h1 {
  margin-bottom: 20px;
  background-color: #42484d;
  color: #dddddd;
  width: 100%;
  text-align: center;
}

.loginForm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 15px;
}

.userForm label {
  text-align: right;
  margin-bottom: 15px;
}

.userForm input {
  width: 100%;
  margin-bottom: 15px;
}

.userForm button {
  grid-column: 2/3;
  justify-self: right;
}

.Redx {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.Redx:hover {
  width: 30px;
  height: 30px;
}

.Edit:hover {
  width: 30px;
  height: 30px;
}

.AdminPanelNav {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 30px;
  border-bottom: solid #42484d 3px;
}

.AdminPanelNav ul {
  display: flex;
  align-items: center;
}

.UsersPanelMarker,
.CallTypePanelMarker {
  padding: 10px 15px 5px 15px;
}
& :hover {
  cursor: pointer;
}

.active {
  background-color: #f0f0f0;
  color: #ffb545;
  font-weight: bold;
}

.logo-box {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  background: linear-gradient(rgba(11, 46, 60, 0.95), rgba(146, 196, 218, 0.4));

  margin: 15px;
}

.homepage-header {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header-logo-text {
  height: 3.5rem;
}
.homepage-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-light--2));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/* CallTypes */

.callType-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

.callType-row h1 {
  font-size: 24px;
  font-weight: 800;
}

.callType-row {
  border: 2px solid lightgray;
  padding: 10px;
  margin: -2px;
  position: relative;
}

.callType-lists {
  padding-left: 15px;
}

.callType-row ul {
  width: 100%;
}

.callType-row button {
  border: none;
  background-color: none;
}

.callType-header {
  font-size: 18px;
  font-weight: 800;
}

.callType-header:hover {
  color: var(--color-brand--1);
  font-weight: bold;
  transition: all 500ms;
  cursor: pointer;
}

.delete {
  width: 15px;
  position: absolute;
  right: 13px;
  bottom: 5px;
}

.delete:hover {
  width: 16px;
  transition: all 200ms;
  cursor: pointer;
}

.shade-button {
  float: right;
  position: absolute;
  right: 13px;
  top: 18px;
}

.details-container {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 200;
  color: black;
}

.questions {
  display: flex;
  flex-direction: column;
}

.expand-carat {
  width: 20px;
  transition: opacity 0.5s ease-in-out;
}

.searchform-large {
  width: 80%;
  padding: 15px;
}

.searchForm {
  width: 90%;
  padding: 15px;
}

/* AddUserForm */

.adminBox {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.adminBox label {
  width: 80%;
}

.userForm {
  width: 70%;
}

/* Question */

.question {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px;
}

.question ol {
  type: number;
}

.question-options {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
